@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Lato:wght@700&family=Roboto:wght@500&family=Ubuntu:wght@700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

header .header {
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding-bottom: 0;

}

header .sub-header {
  text-align: center;
  font-size: 16px;
  padding: 5px;
}
header .imgBox {
  width: 100%;
  margin: 20px auto;
  text-align: center:
  border-radius: 5px;
  padding: 10px;
}
header .imgBox img {
  width: 330px;
  display: block;
  margin: 0 auto;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  background: lightgray;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9,
  -0.5em -0.5em 1em #ffffff;
}
header .imgBox img:hover {
  transition: 2s;
  transform: scale(1.08);
}
main .bio {
  padding: 10px;
  background: dodgerblue;
  border-radius: 5px;
  color: #f4f4f4;
  width: 90%;
  margin: 20px auto;
}
main .bio:hover, main .overview:hover {
  background: violet;
  color: #333;
  opacity: 1;
  transition: 2s;
}
main .bio h1, main .bio p {
  text-align: center;
  padding: 10px;
  opacity: 0.85;
}
main .bio p {
  font-size: 18px;
  text-align: left;
}
main .bio p span {
  font-weight: bolder;
}
main .overview {
  background: white;
  padding: 10px;
  width: 90%;
  margin: 30px auto;
  border: 2px solid #333;
  border-radius: 5px;
  opacity: 0.8;
}
main .overview h3 {
  padding: 10px;
  text-align: center;
  font-weight: thin;
}
main .overview > p {
  padding: 10px;
  text-align: left;
}
main .main-info {
  padding: 10px;
  width: 95%;
  background: #333;
  color: #f4f4f4;
  opacity: 0.85;
  margin: 20px auto;
  border-radius: 5px;
}
main .main-info h4 {
  width: 60%;
  margin: 0 auto;
  font-size: 19px;
  text-align: center;
  color: orange;
  opacity: 1;
  padding: 10px;
  border-bottom: 1px solid tomato;
}
main .main-info ul {
  list-style: none;
  text-align: left;
}
main .main-info ul li {
  display: block;
  font-size: 16px;
  padding: 10px;
}
#span {
  font-weight: bold;
  color: aqua;
  opacity: 0.8;
  letter-spacing: 1px;
}
main .box {
  width: 90%;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
main .box1, main .box2 {
  border-left: dodgerblue 10px solid;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
  -0.5em -0.5em 1em #ffffff;
}
main .box1:hover, main .box2:hover {
  text-decoration: underline;
  background: orange;
}
.footer-section {
  width: 90%;
  border-top: orange 10px solid;
  border-left: tomato 10px solid;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 20px auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  color: #333;
  font-size: 16px;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9,
  -0.5em -0.5em 1em #ffffff;
}
footer p {
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 20px;
}
footer .footer-section p {
  font-size: 20px;
  color: #333;
  text-decoration: underline;
  margin-bottom: 0;
  color: mediumseagreen;
}
footer .footer-section .link {
  margin-top: 0;
  padding-top: 0;
  
}
footer .footer-section p:hover {
  color: #333;
}
